<!-- SIDEBAR -->
<section id="sidebar">
  <a href="#" class="brand">
    <i class='bx bxl-angular'></i>
    <span class="text">ActiveLobby</span>
  </a>
  <ul class="side-menu top">
    <li class="active">
      <a routerLink="">
        <i class='bx bxs-dashboard' ></i>
        <span class="text">Teams</span>
      </a>
    </li>
    <li>
      <a routerLink="/leagues">
        <i class='bx bxs-shopping-bag-alt' ></i>
        <span class="text">Leagues</span>
      </a>
    </li>
    <li>
      <a routerLink="/fixtures">
        <i class='bx bxs-doughnut-chart' ></i>
        <span class="text">Fixtures</span>
      </a>
    </li>
    <li>
      <a routerLink="/top">
        <i class='bx bxs-message-dots' ></i>
        <span class="text">Top scorers</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a href="#">
        <i class='bx bxs-cog' ></i>
        <span class="text">Settings</span>
      </a>
    </li>
    <li>
      <a href="#" class="logout">
        <i class='bx bxs-log-out-circle' ></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->



<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class='bx bx-menu' ></i>
    <a href="#" class="nav-link">Categories</a>
    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Search...">
        <button class="search-btn"><i class='bx bx-search' ></i></button>
      </div>
    </form>
    <input type="checkbox" id="switch-mode" hidden>
    <label for="switch-mode" class="switch-mode"></label>
    <div class = "notification">
      <a href = "#">
      <div class = "notBtn">
        <span class="num">9</span>
        <i class='bx bxs-bell' ></i>
          <div class = "box">
            <div class = "display">
              <div class = "nothing"> 
                <i class="fas fa-child stick"></i> 
                <div class = "cent"></div>
              </div>
              <div class = "cont"><!-- Fold this div and try deleting evrything inbetween -->
                 <div class = "sec new">
                   <div class = "txt">Score Updated</div>
                  <div class = "txt sub">11/7 - 2:30 pm</div>
                </div>
                 <div class = "sec new">
                   <div class = "txt">League details Updated</div>
                  <div class = "txt sub">11/7 - 2:13 pm</div>
                </div>
                 <div class = "sec">
                   <div class = "txt">League details Updated</div>
                  <div class = "txt sub">11/6 - 9:35 pm</div>
                </div>
                 <div class = "sec">
                   <div class = "txt">Team details Updated</div>
                  <div class = "txt sub">11/6 - 4:04 pm</div>
                </div>
                 <div class = "sec">
                   <div class = "txt">Fixture details Updated</div>
                  <div class = "txt sub">11/6 - 10:37 am</div>
                </div>
                 <div class = "sec">
                   <div class = "txt">Score details Updated</div>
                  <div class = "txt sub">11/5 - 7:30 pm</div>
                </div>
                 <div class = "sec">
                   <div class = "txt">League details Updated</div>
                  <div class = "txt sub">11/5 - 2:30 pm</div>
                </div>
                 <div class = "sec">
                   <div class = "txt">Team details Updated</div>
                  <div class = "txt sub">11/5 - 1:34 pm</div>
                </div>
                 <div class = "sec">
                   <div class = "txt">League details Updated 9</div>
                  <div class = "txt sub">11/5 - 10:20 am</div>
                </div>
             </div>
            </div>
         </div>
      </div>
        </a>
    </div>
    <a href="#" class="profile trigger">
      <img src="assets/img/avatar.jpg">
    </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <router-outlet></router-outlet>
  </main>
  <!-- MAIN -->
</section>

<!-- CONTENT -->
<div class="modal">
  <div class="modal-content card">
      <span class="close-button">×</span>
      <h2 class="profile_text">User Profile</h2><br>
      <hr>
        <div class="cover-photo">
            <img src="assets/img/avatar.jpg" class="profile_card">
        </div>
        <h3 class="profile-name">Sidharth e <i class="bx bx-edit-alt"></i></h3>
        <form class="profile_update">
         Phone:<input type="text" class="inp_update"/><br/>
         Email:<input type="text" class="inp_update"/>
        </form>
        <button class="btn">Update</button>
  </div>
</div>